@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>موقع استخراج الشهادة الجامعية</h1>
    <p class="lead">موقع استخراج الشهادة الجامعية هو موقع تابع لجامعة السودان للعلوم والتكنولوجيا يساعد الطلاب الخريجين من احد كليات جامعة السودان ان يقوموا باكمال اجراءات استخراج الشهادة بشكل مباشر واكثر سهولة عبر هذا الموقع</p>
    <p><a href="https://www.sustech.edu/" class="btn btn-primary btn-lg">الموقع الرسمي للجامعة &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>استخراج الشهادة</h2>
        <p>
            يمكنك ان تقوم باجراء استخراج الشهادة بالضغط على هذا الزر حيث يتم ملأ استمارات خاصة باجراءات استخراج الشهادة
        </p>
        <p><a class="btn btn-default" href="Student/Index">اجراء استخراج الشهادة &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>متابعة طلب سابق</h2>
        <p>يمكنك من خلال هذا الخيار ان تتابع طلبك لاستخراج الشهادة السابق واين وصلت اجراءاتك</p>
        <p><a class="btn btn-default" href="https://www.google.com">متابعة الطلب &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>استلام الشهادة</h2>
        <p>بعد ان تقوم باكمال كل اجراءاتك يمكن ان تستلم الشهادة في المكان المناسب معك سواء كان داخل السودان او خارجها</p>
        <p><a class="btn btn-default" href="https://www.youtube.com">استلام الشهادة &raquo;</a></p>
    </div>
</div>